@font-face {
    font-family: 'ModeSeven';
    font-weight: 400;
    font-style: normal;
    src: url(/Modeseven-L3n5.ttf);
    font-display: swap;
}

body {
    display: flex;
    /* i still hate how css has like 8 properties for aligning things centered and it's always different which one works */
    justify-content: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #111;
    font-family: 'ModeSeven', 'Courier New', Courier, monospace;
}

#flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
    background-color: #333;
}

#screen {
    display: grid;
    --grid-w: 1;
    --grid-h: 1;
    grid-template-rows: repeat(var(--grid-h), 1em);
    grid-template-columns: repeat(var(--grid-w), 0.65em);
    background-color: black;
    border: 8px solid beige;
    padding: 8px 8px;
    font-size: 20px;
    line-height: 1;
}

#colors {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 8px;
    margin-top: 24px;
    font-size: 20px;
    color: white;
    user-select: none;
}

#colors>div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

#colorsBG,
#colorsFG {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.colorButton {
    width: 24px;
    height: 24px;
    border: 4px solid beige;
    cursor: pointer;
}

#speed {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 24px;
    font-size: 20px;
    color: white;
}

#speedText {
    width: 2.6em;
}

#speedSlider {
    appearance: none;
    width: 200px;
    height: 20px;
    background-color: transparent;
    cursor: grab;
}

#speedSlider:active {
    cursor: grabbing;
}

#speedSlider::-webkit-slider-runnable-track {
    background-color: rgb(85, 85, 85);
    height: 8px;
}

#speedSlider::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    top: -6px;
    width: 20px;
    height: 20px;
    background-color: beige;
}